GOOGLE_TEST_EMAIL=
GOOGLE_TEST_PASSWORD=
AUTH_FINAL_URL=https://rexptin.vercel.app/fast-agent-detail
SIGNUP_TEST_EMAIL=vanshdhiman601.dx+01@gmail.com
SIGNUP_DETAILS_URL=https://rexptin.vercel.app/details
