node_modules/
playwright-report/
test-results/
reports/html/*
reports/json/*
reports/screenshots/*
reports/videos/*
reports/traces/*
!reports/html/.gitkeep
!reports/json/.gitkeep
!reports/screenshots/.gitkeep
!reports/videos/.gitkeep
!reports/traces/.gitkeep
logs/*.log
!logs/execution.log
!logs/error.log
.env
playwright/.auth/